body {
    background-color: #00A19D;
}
#nav {
    padding: 2%;
    font-family: Verdana;
    color: white;
    background-color: ;
}
#formLogin {
    background-color: #FFF8E5;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
    border-radius: 12px;
    margin-top: 3%;
}
#formLogin h3 {
    text-align: center;
    color: #E05D5D;
}

#lblUsuario, #lblSenha {
    color: #646464;
    margin-top: 2%;
}
#txtUsuario, #txtSenha {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #646464;
}
#btnLogin {
    background-color: #E05D5D;
    color: white;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
#btnLogin:hover {
    background-color: darkred;
}
#recSenha {
    text-decoration: none;
    color: #646464;
}
#aNovaConta {
    color: white;
    text-decoration: none;
}
