
.form-group {
    padding-right: 40%;
    padding-left: 4%;
}
.tabFuncionarios {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: scroll
}
.font {
    font-weight: 600;
    color: black;
}
#gdvFuncionarios {
    overflow-x: scroll;
}


