* {
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x: hidden;
}

.menuLateral {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkcyan;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3%;
}

#btnFechar {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 5vh;
    margin-left: 30%;
    background-color: transparent;
    border: none;
    color: #FFFAF0;
    font-weight: 800;
}

#btnAbrir {
    top: 2%;
    margin-left: 7%;
    width: 6%;
    font-size: 3vh;
    font-weight: 900;
    border-radius: 12px 12px 12px 12px;
    background-color: transparent;
    border: none;
    color: white;
}

#pagina {
    padding: 16px;
    transition: 0.5s;
    background-color: azure;
    margin-left: 5%;
    height: 100%;
    width: 100%;
}

.navItens a {
    display: block;
    text-align: center;
    padding: 5%;
    color: white;
    text-decoration: none;
    margin-left: 2%;
}

    .navItens a:hover {
        border-radius: 10px 0px 0px 10px;
        background-color: azure;
        color: darkcyan;
        transition: 0.5s;
    }
